<li class="list-group-item"><%= post_list_last(@posts) %><br/></li>
<li class="list-group-item"><%= post_list_snd_last(@posts) %><br/></li>
<li class="list-group-item"><%= post_list_third_last(@posts) %><br/></li>
<li class="list-group-item"><%= post_list_fourth_last(@posts) %><br/></li>
<li class="list-group-item"><%= post_list_fifth_last(@posts) %><br/></li>