<h1>New post</h1>


    <%= form_with model: @post do |form| %>

        <%= form.label :title %><br>
        <%= form.text_field :title %><br><br>
        <% @post.errors.full_messages_for(:title).each do |message| %>
            <div><%= message %></div>
        <% end %>


        <%= form.label :body %><br>
        <%= form.text_area :body %><br>
        <% @post.errors.full_messages_for(:body).each do |message| %>
            <div><%= message %></div>
        <% end %>

        <%= form.submit %>

    <% end %>

