<h1>New post</h1>


    <%= form_with model: @post do |form| %>

        <%= form.label :title %><br>
        <%= form.text_field :title %><br><br>
        
    


        <%= form.label :body %><br>
        <%= form.text_area :body %><br>

        <%= form.submit %>

    <% end %>

